@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700;800&display=swap');

.nav-bar {
  @apply flex items-center justify-between flex-wrap bg-white px-4 py-3 fixed w-full z-50;
}

.nav-btn {
  @apply inline-block ml-4 text-sm px-6 py-3 leading-none border rounded hover:bg-primary mt-4 lg:mt-0;
}

.landing-img {
  background-image: url('./images/52401.png');
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

@tailwind utilities;

:root {
  --amplify-primary-color: #2d9cdb;
  --amplify-primary-tint: #32a4e6;
  --amplify-primary-shade: #32a4e6;
}
