@tailwind base;
@tailwind components;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700;800&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Manrope',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-bar {
  @apply flex items-center justify-between flex-wrap bg-white px-4 py-3 fixed w-full z-50;
}

.nav-btn {
  @apply inline-block ml-4 text-sm px-6 py-3 leading-none border rounded hover:bg-primary mt-4 lg:mt-0;
}

.landing-img {
  background-image: url('./images/52401.png');
  width: 100%;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
}

@tailwind utilities;
